<div class="layout">
  <ng-content select="[title]"></ng-content>
  <div class="container">
    <div class="content">
      <ng-content select="[content]"></ng-content>
    </div>
    <aside>
      <ng-content select="[sidebar]"></ng-content>
    </aside>
  </div>
</div>
