button {
  border: none;
  background: var(--primary-color);
  transition: color 0.3s ease-out, background-color 0.3s ease-in;

  &.normal {
    padding: 1rem 1.5rem;
  }

  &.small {
    padding: 0.2rem 0.5rem;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
  }

  &.selected {
    background-color: var(--orange);
  }

  &.selected,
  &:hover {
    color: var(--white);
  }
}
