@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --primary-color: #f0f0f0;
  --secondary-color: #2a2a2a;
  --orange: #f45c43;
  --black: #000;
  --white: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
}
