<div class="bet">
  <div class="teams">
    <span>{{ bet.eventName }}</span>
  </div>
  <div class="odds">
    <!-- TODO Make buttons selected when bet is selected  -->
    <!-- TODO check for odds array instead object -->
    <ng-container *ngFor="let odd of bet.odds | keyvalue">
      <app-button
        [selected]="isSelected(odd.key)"
        (click)="selectBet(odd.key)"
        >{{ odd.value | number: '1.0-2' }}</app-button
      >
    </ng-container>
  </div>
</div>
