.bet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  padding: 2rem;
  margin-bottom: 1rem;
  border-left: 0.5rem solid var(--orange);

  .odds {
    display: flex;
  }
}
