.ticket {
  background: var(--white);
  padding: 2rem 0;
  position: sticky;
  top: 0;

  .empty-ticket {
    border-top: 1px solid var(--primary-color);
    padding: 1rem;
  }

  // can be taken as heading later
  .title {
    font-size: 1.5rem;
    padding: 0 2rem;
  }
  .content {
    margin-top: 1rem;
    max-height: 75vh;
    overflow-x: auto;

    .ticket-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      font-size: 14px;
      border-bottom: 1px solid var(--primary-color);

      &:first-child {
        border-top: 1px solid var(--primary-color);
      }

      .col {
        &:first-child {
          flex: 1;
        }
      }

      .base-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .odd {
        background-color: #008800;
        color: var(--white);
        padding: 0.1875rem;
        font-size: 0.8rem;
        margin-left: 0.125rem;
      }
    }
  }
  .stake {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
    font-size: 0.875rem;
    color: var(--white);
    padding: 1rem;

    .total {
      font-size: 1rem;
    }
  }
}
