<div class="ticket">
  <div class="title">My bets</div>
  <div class="content">
    <div class="ticket-item" *ngFor="let selectedBet of selectedBets">
      <div class="col">
        <div class="base-info">
          <div class="teams">
            {{ selectedBet.eventName }}
          </div>
        </div>
        <div class="user-bet">User bet: {{ selectedBet.choice }}</div>
      </div>
      <div class="col">
        <div class="odd">
          {{ selectedBet.odds[selectedBet.choice] | number: '1.0-2' }}
        </div>
      </div>
      <div class="col">
        <app-button (click)="removeBet(selectedBet)" [variant]="'small'">
          x
        </app-button>
      </div>
    </div>
    <div class="empty-ticket" *ngIf="!selectedBets.length">
      No bets found. Please pick some from the left side list.
    </div>
  </div>
  <div class="stake" *ngIf="selectedBets.length">
    <div class="calculate">
      <app-input
        [type]="'number'"
        [id]="'stake'"
        [name]="'stake'"
        (onValueChange)="setStakeValue($event)"
      ></app-input>
    </div>
    <div class="total">
      <div>
        <span>Total odds: </span>
        <span>{{ totalOddsCount | number: '1.0-2' }}</span>
      </div>
      <div *ngIf="stakeValue">
        <span>Potential win: </span
        ><span>{{ totalPossiblePay | number: '1.0-2' }}</span>
      </div>
    </div>
  </div>
</div>
